#app-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.discover-form{
  font-size: xx-large;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.discover-form button{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  font-size: xx-large;
}

.discover-form button:hover{
  background-color: #4CAF50;
}

.discover-form select{
  background-color: white;
  color: black;
  border: 0 px;
  border-bottom: 2px solid black;
  font-size: xx-large;
}

.discover-form select:hover{
  background-color: #4CAF50;
}

.artists-list{
  font-size: x-large;
  font-weight: lighter;
  display: flexbox;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.artists-list-header{
  font-size: xx-large;
  font-weight: bold;
  background-color: #4CAF50;
}

.artists-list-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.artists-list-footer button{
  background-color: white;
  border: none;
  color: lightgrey;
  font-size: large;
}

.artists-list-footer button:hover{
  color: black;
}


.remove-button{
  background-color: white;
  border: none;
  color: lightgrey;
  font-size: medium;
}

.remove-button:hover{
  color: black;
}

.artist-tile{
  border-bottom: 2px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artist-name:hover{
  color: #4CAF50;
}

.info-modal{
  display: flex;
  flex-direction: column;
  z-index: 2;
  font-weight: lighter;
  font-size: large;
  row-gap: 1px;
}

.modal-text{
  margin: 0;
}